/* WebSocket 连接状态指示器样式 */
#status-indicator {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 70%;
    margin-left: 5px;
    margin-top: 17px
}

.status-red {
    background-color: red;
}

.status-green {
    background-color: green;
}

/* 树形视图样式 */
#tree-view ul {
    list-style-type: none;
    padding-left: 20px;
}

#tree-view li {
    cursor: pointer;
}

#tree-view li:hover {
    background-color: #f0f0f0;
}
