

/* WebSocket  */
#status-indicator {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 70%;
    margin-left: 5px;
    margin-top: 17px
}

.status-red {
    background-color: red;
}

.status-green {
    background-color: green;
}




#treeview1 {
    margin-top: 20px; /* 可以根據需要調整下移的距離 */
}

/* treeview part  */
.treeview .list-group-item {
    cursor: pointer;
}
.treeview span.indent {
    margin-left: 10px;
    margin-right: 10px
}

.treeview span.icon {
    width: 12px;
    margin-right: 5px
}

.treeview .node-disabled {
    color: silver;
    cursor: not-allowed
    
}

#treeview1 .node-treeview1 {
    color: #078bff;
    font-size: 12px;
    padding: .1rem 1rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.node-treeview1:not(.node-disabled):hover {
    background-color: #F5F5F5;
    }