<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>IED Monitor</title>
    <!-- import Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- impot my CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">IED !</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
            </li>
            <li class="nav-item">
                <span id="status-indicator" class="status-red"></span>
            </li>
            
        </ul>
    </div>
</nav>

<!-- main content -->
<div class="container-fluid">
    <div class="row">
        <!-- tree view -->
        <div class="col-md-2">
            <h5>IED list</h5>
            <div id="tree-view"></div>
        </div>
        <!-- 数据表格 -->
        <div class="col-md-9">
            <h5> data </h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>IECPath</th>
                        <th>Value</th>
                        <th>SourceTime</th>
                        <th>Status</th>
                        <th>NodeID</th>
                    </tr>
                </thead>
                <tbody id="data-table">
                    <!-- 動態填充? -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- import jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- import Socket.IO -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<!-- import my JS -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
